text {
  font-family: "System-Regular";
  fill: white;
}

#bar-stats {
  height: 55%;
  fill: red;
}

.top-stats {
  text-anchor: middle;
  y: 15%;
  font-size: 18;
  font-family: "System-Bold";
  width: 25%;
}

.top-stats-desc {
  text-anchor: middle;
  y: 20%;
  font-size: 16;
  width: 25%;
}

.top-stats-icon {
  width: 24;
  height: 24;
  y: 30%;
  fill: white;
}

.bottom-stats {
  text-anchor: middle;
  y: 90%;
  font-size: 22;
}

.bottom-stats-icon {
  y: 70%;
  fill: white;
  width: 24;
  height: 24;
}

.date {
  x: 50%;
  y: 90%;
  font-size: 20;
  text-anchor: middle;
}

.clock {
  x: 50%;
  y: 80%;
  font-size: 70;
  text-anchor: middle;
  font-family: "System-Bold";
}

.stats-bg {
  y: 0;
  width: 25%;
}

.clock-bg {
  width: 25%;
}